article{
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;

}

#motto{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-family: sans-serif;
font-size: 28px;
animation: inledning 3s ease forwards 2.5s;
}


@keyframes inledning {
from{
  opacity: 1;
}
  to{
  opacity: 0;
  }
}

/* Dropdown Button */
.dropbtn {
  color:white;
  text-decoration: none;
}


#dropdown{
  position: relative;
 display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border: 5px solid #0b3e99;
  border-radius: 10px;
  font-size: 20px;
  animation: fade 1s ease forwards;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0b3e99;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
//.dropdown:hover .dropbtn {background-color: #3e8e41;}


@keyframes fade {
  from{
    opacity: 0;

  }
  to{
    opacity: 1;

  }
}

@keyframes fade1 {
  from{
    opacity: 1;

  }
  to{
    opacity: 0.5;

  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper{
  padding-top: 60px;
}

#navbar{
  overflow: hidden;
}

.strecknav{
  width: 100%;
  height: 4px;
  background-color: #0b3e99;
}

.streck{
  width: 100%;
  height: 4px;
  background-color: #0b3e99;
}
.streck12{
  width: 100%;
  height: 6px;
  background: rgba(29, 106, 154, 0.72);
}

.streck2{
  width: 100%;
  height: 2px;
  background-color: #0b3e99;
}

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #0b3e99;
  width: 100%;
  max-height: 612px;
  height: auto;
  align-items: center;
  display: flex;

}

.bildresponsive{
  width: 100%;
  max-height: 612px;
  height: auto;

}

nav{
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 90px;
  font-size: 28px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
  color: white;
}

#sortimentButton{
  display: none;
}

#verkstadButton{
  display: none;
}
#oppettiderButton{
  display: none;
}
#projektButton{
  display: none;
}

#kontaktButton{
  display: none;
}

#omossButton{
  display: none;
}
#omossButton:hover{
  transform: translateY(-2px);
}

.bild img{
  margin-right: 40px;
  width: 80px;
  height: 80px;
}

.lankar{
margin-right: 40px;
  display: flex;
  margin-top: 20px;
  color: #fff;
}


a{
  color:white;
  text-decoration: none;
}

.yellowLink {
  color: blue;
}

.yellowLink:hover {
  color: #e09d1b;
}

main{
  background-color: white;
  height: 700px;
  width: 100%;
  padding-top: 20px;
  font-family: 'Sen', sans-serif;
}

main h1{

  padding: 30px;
}

.galleri{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
  background-color: black;
}

.galleri img{
  width: 100%;
  border-radius: 10px;
}


/* relevant styles */
.img__wrap {
display: grid;
position: relative;
}
.img__wrap:hover{
transform: scale(1.05);
}

 .img__description {
   position: absolute;
   left: 0px;
   top: 0px;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;

  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
border-radius: 10px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description  p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}





.mellanrum{
  height: auto;
  width: 100%;
}

#sortiment{
  padding:40px;
}

#ladorsortiment {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.ladorinnehall{
  width: 250px;
  height: 410px;
  margin: 10px;
  margin-left: 30px;
  padding-top: 0px;
  text-align: center;
  background-color: white;
  border: 2px solid #0b3e99;
  font-family: 'Sen', sans-serif;
}

#stihlbild{
  margin-top: 19px;
}

#husqvarnabild{
  margin-top: 18px;
}
#yamahabild{
  margin-top: 39px;
}

#hemsidan{
  padding:40px;
}

#verkstad{
  padding: 40px;
}
#oppettider{
  padding: 40px;
}
#kontakt{
  padding: 40px;
}

footer{
  background-color: black;
  height: 200px;
  padding-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 10rem 10rem 10rem;
}

.fotterruta1{
  color:white;
}

.fotterruta2{
  color:white;
}

.fotterruta3{
  color:white;
grid-column: 1/3;
}
.fotterruta3 img{
  max-width: 70%;
  height: auto;
}
.fotterruta4{
  color:white;
  grid-column: 1/3;
  justify-content: center;
  display: flex;

}

.wrapper{
  margin: 0 auto;
  width: 100%;
  display: flex;
}

body{
  margin: 0 0 0 0;
  background-color: black;
  animation: fade 5s ease forwards;
    font-family: 'Sen', sans-serif;
}

#twitterBild{
  margin-right: 10px;
}

#facebookBild{

margin-left: 10px;
}

#twitterBild:hover{
transform: scale(0.9);
}
#facebookBild:hover{
transform: scale(0.9);
}


.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-ezgif-com-webp-to-jpg {
  width: 128px;
  height: 80px;
  background-position: -5px -5px;
}

.sprite-facebooksprite {
  width: 35px;
  height: 36px;
  background-position: -143px -5px;
}

.sprite-webbskog {
  width: 35px;
  height: 22px;
  background-position: -143px -51px;
}

#slider{
  height: 300px;
  width: 300px;
  margin-left: 40%;
  margin-top: 20px;

}

iframe{
  width: 99%;
  height: 400px;
}

#imgs{
  height: 300px;
  width: 909px;
  position: relative;
}

button{
  display: none;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  margin-left: 47%;
  font-family: 'Sen', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #e09d1b;
}

button:hover {
  background-color: #253050;
  color: #e09d1b;
}

#hideMenu{
  display: flex;
}

#omoss{
  font-family: 'Sen', sans-serif;
  padding: 5px;
}

h1{
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 1920px) {
  #slider{
    margin-left: 41%;
  }
  .bild{
    margin-left: 290px;
  }
}

@media only screen and (max-width: 1650px) {
  #slider{
    margin-left: 40%;
  }
  .bild{
    margin-left: 170px;
  }
}

@media only screen and (max-width: 1525px) {
  .bild{
    margin-left: 110px;
  }
}

@media only screen and (max-width: 1400px) {
  #slider{
    margin-left: 39%;
  }
  .bild{
    margin-left: 55px;
  }
}

@media only screen and (max-width: 1270px) {
  .bild{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1263px) {
.strecknav{
  display: none;
}
}

@media only screen and (max-width: 1220px) {
  #slider{
    margin-left: 38%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper{
    width: 100%;
  }
#slider{
  margin-left: 37%;
}
}

@media only screen and (max-width: 980px) {
  main{
    height: 2130px;
  }
}

@media only screen and (max-width: 930px) {
  #slider{
    margin-left: 36%;
  }
  #hideMenu{
    display:none;
  }
}

@media only screen and (max-width: 870px) {
  #slider{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 800px) {
  footer{
    height: 1180px;
  }
  main{
    height: 2250px;
  }
  #slider{
    margin-left: 34%;
  }
}

@media only screen and (max-width: 700px) {
  main{
    height: 2600px;
  }
  #slider{
    margin-left: 33%;
  }
}

@media only screen and (max-width: 600px) {
  footer{
    height: 1250px;
  }
  main{
    height: 2690px;
  }
  #slider{
    margin-left: 26%;
  }
  button{
    margin-left: 43%;
  }
}

@media only screen and (max-width: 540px) {
  footer{
    height: 1250px;
  }
  #slider{
    margin-left: 23%;
  }
    main{
      height: 2800px;
    }
}

@media only screen and (max-width: 490px) {
  footer{
    height: 1300px;
  }
  #slider{
    margin-left: 21%;
  }
  button{
    margin-left: 43%;
  }
}

@media only screen and (max-width: 430px) {
  #slider{
    margin-left: 13%;
  }
  button{
    margin-left: 40%;
  }
}

@media only screen and (max-width: 370px) {
  main{
    height: 2950px;
  }
  #slider{
    margin-left: 10%;
  }
  .ladorinnehall{
    margin-left: 5%;
  }
  footer{
   height: 1350px;
  }
}

@media only screen and (max-width: 330px) {
  #slider{
    margin-left:10px;
  }
  .ladorinnehall{
    margin-left: 1px;
  }
}
