article{
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;

}

#motto{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-family: sans-serif;
font-size: 28px;
animation: inledning 3s ease forwards 2.5s;
}

#projektButton{
  color:black;
  background-color: white;
}

@keyframes inledning {
from{
  opacity: 1;
}
  to{
  opacity: 0;
  }
}

/* Dropdown Button */
.dropbtn {
  color:white;
  text-decoration: none;
}


.dropdown{
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  border: 5px solid #0b3e99;
  border-radius: 10px;
  font-size: 20px;
  animation: fade 1s ease forwards;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0b3e99;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
//.dropdown:hover .dropbtn {background-color: #3e8e41;}


@keyframes fade {
  from{
    opacity: 0;

  }
  to{
    opacity: 1;

  }
}

@keyframes fade1 {
  from{
    opacity: 1;

  }
  to{
    opacity: 0.5;

  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper{
  padding-top: 60px;
}

#navbar{
  overflow: hidden;
}

.strecknav{
  width: 100%;
  height: 4px;
  background-color: #0b3e99;
}

.streck{
  width: 100%;
  height: 4px;
  background-color: #0b3e99;
}
.streck12{
  width: 100%;
  height: 4px;
  background: rgba(29, 106, 154, 0.72);

}

.streck2{
  width: 100%;
  height: 2px;
  background-color: #0b3e99;
}

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #0b3e99;
  width: 100%;
  max-height: 612px;
  height: auto;
  align-items: center;
  display: flex;

}

.bildresponsive{
  width: 100%;
  max-height: 612px;
  height: auto;

}

nav{
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 90px;
  font-size: 28px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
  color: white;
}
.burger{
margin-top: 25px;
display: none;
cursor: pointer;
}

.burger div{

  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  transition: all 0.5s ease;
}


.nav-links{
margin-right: 40px;
  display: flex;
  margin-top: 20px;
  color: blue;
}


.nav-links li{
list-style: none;
}

#omossButton:hover{
  transform: translateY(-2px);
}

.bild img{
  margin-right: 40px;
  width: 80px;
  height: 80px;
}

a{
  color:white;
  text-decoration: none;
}

.yellowLink {
  color: blue;
}

.yellowLink:hover {
  color: #e09d1b;
}

main{
  background-color: white;
  width: 100%;
  padding-top: 20px;
  font-family: 'Sen', sans-serif;
}

section{
  background-color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Sen', sans-serif;
}

iframe{
  width: 99%;
  height: 200px;
}

.galleri{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 20px;
  background-color: black;
}

.galleri img{
  width: 100%;
  border-radius: 10px;
}

.img__img1{
  border: 2px solid white;
}

/* relevant styles */
.img__wrap {
display: grid;
position: relative;
}
.img__wrap:hover{
transform: scale(1.05);
}

 .img__description {
   position: absolute;
   left: 0px;
   top: 0px;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;

  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
border-radius: 10px;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description  p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.img__description  a{
font-weight: bold;
font-size: 20px;
text-decoration: underline;
}

.img__description  a:hover{
color: #e09d1b;
background-color: #253050;
border-radius: 5px;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}


.centerprojekt{
  padding: 40px;
  text-align: center;
}

#centerprojektT{
  margin-top: 30px;
  padding: 40px;
  text-align: center;
  color: white;
  background-color: black;
  width: 50%;
  border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

}
#centerprojektB{
  padding: 40px;
  text-align: center;
  color: white;
  background-color: black;
  width: 50%;
  border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
      margin-bottom: 50px;
}

.gridkontakt{
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 10rem;
  padding-top: 20px;
}
.adress{
  display: grid;
  text-align: center;
}

.kontakta{
  display: grid;
  text-align: center;
}

.kontakta span{
  font-weight: bold;
  text-decoration: bold;

}


.mellanrum{
  height: auto;
  width: 100%;
}

#sortiment{
  padding:40px;
}

#ladorsortiment {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.ladorinnehall{
  width: 250px;
  height: 410px;
  margin: 10px;
  margin-left: 30px;
  padding-top: 0px;
  text-align: center;
  background-color: white;
  border: 2px solid #0b3e99;
  font-family: 'Sen', sans-serif;
}

#stihlbild{
  margin-top: 19px;
}

#husqvarnabild{
  margin-top: 18px;
}
#yamahabild{
  margin-top: 39px;
}

#hemsidan{
  padding:40px;
}

#verkstad{
  padding: 40px;
}
#oppettider{
  padding: 40px;
}
#kontakt{
  padding: 40px;
}

footer{
  background-color: black;
  height: 200px;
  padding-top: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-template-rows: 10rem 10rem 10rem;
}

.fotterruta1{
  color:white;
}

.fotterruta2{
  color:white;
}

.fotterruta3{
  color:white;
grid-column: 1/3;
}
.fotterruta3 img{
  max-width: 70%;
  height: auto;
}
.fotterruta4{
  color:white;
  grid-column: 1/3;
  justify-content: center;
  display: flex;

}

.wrapper{
  margin: 0 auto;
  width: 100%;
  display: flex;
}

body{
  margin: 0 0 0 0;
  background-color: black;
  animation: fade 5s ease forwards;
    font-family: 'Sen', sans-serif;
}

#twitterBild{
  margin-right: 10px;
}

#facebookBild{

margin-left: 10px;
}

#twitterBild:hover{
transform: scale(0.9);
}
#facebookBild:hover{
transform: scale(0.9);
}


.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-ezgif-com-webp-to-jpg {
  width: 128px;
  height: 80px;
  background-position: -5px -5px;
}

.sprite-facebooksprite {
  width: 35px;
  height: 36px;
  background-position: -143px -5px;
}

.sprite-webbskog {
  width: 35px;
  height: 22px;
  background-position: -143px -51px;
}

#slider{
  height: 300px;
  width: 300px;
  margin-left: 40%;
  margin-top: 20px;

}

iframe{
  width: 99%;
  height: 400px;
}

#imgs{
  height: 300px;
  width: 909px;
  position: relative;
}

button{
  display: none;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  margin-left: 47%;
  font-family: 'Sen', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #e09d1b;
}

button:hover {
  background-color: #253050;
  color: #e09d1b;
}

#hideMenu{
  display: flex;
}

#omoss{
  font-family: 'Sen', sans-serif;
  padding: 5px;
}

h1{
  font-family: 'Sen', sans-serif;
}

.hide{
  display: none;
}

@media only screen and (max-width: 1920px) {
  #slider{
    margin-left: 41%;
  }
  .bild{
    margin-left: 290px;
  }
}

@media only screen and (max-width: 1650px) {
  #slider{
    margin-left: 40%;
  }
  .bild{
    margin-left: 170px;
  }
}

@media only screen and (max-width: 1525px) {
  .bild{
    margin-left: 110px;
  }
}

@media only screen and (max-width: 1400px) {
  #slider{
    margin-left: 39%;
  }
  .bild{
    margin-left: 55px;
  }
}

@media only screen and (max-width: 1270px) {
  .bild{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1263px) {
.strecknav{
  display: none;
}
}

@media only screen and (max-width: 1220px) {
  #slider{
    margin-left: 38%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper{
    width: 100%;
  }
#slider{
  margin-left: 37%;
}
}
body{
  overflow-x: hidden;
}

@media only screen and (max-width: 930px) {
/*

  body{
    overflow-x: hidden;
  }
  */
  .dropdown{
    display: none;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-right: 0px;
    margin-top: 0px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links a{
    opacity: 0;
    padding: 15px;
  }

  a:hover{
  font-size: 25px;
  }

  .burger{
    display: block;
  }
  .hide{
    display: flex;
  }
}

.nav-active{
  transform: translateX(0%);
  color: white;
}

@keyframes navLinkFade {

from{
  opacity: 0;
  transform: translateX(50px);
}

to{
  opacity: 1;
  transform: translateX(0px);
}

}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}


.toggle .line2{
  opacity: 0;
}


.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
