
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper{
  padding-top: 60px;
}

#navbar{

overflow: hidden;
}

#streck{
  width: 100%;
  height: 5px;
  background-color: #e09d1b;
}

#streck2{
  width: 100%;
  height: 5px;
  background-color: #e09d1b;
}

#streck3{
  width: 100%;
  height: 5px;
  background-color: #e09d1b;
}

*{
  margin: 0;
  padding: 0;
}


header{

  background-color: white;
  width: 100%;
  height: 412px;
}

.bildresponsive{
  width: 100%;

  max-height: 412px;
  height: auto;

}


nav{
  background-color: white;
  width: 100%;
  height: 90px;

  font-size: 30px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
  }

  #sortimentButton{
    display: none;
  }

  #verkstadButton{
    display: none;
  }
  #öppettiderButton{
    display: none;
  }

  #omossButton{
    display: none;
  }

  .bild{
    margin-left: 20px;

  }

  .lankar{
    margin-left: 50px;
    display: flex;
    margin-top: 20px;
    color: #fff;
  }

  a{
    color:black;
    text-decoration: none;
  }

  .whiteLink{
    color: white;

  }

main{
  background-color: white;
  height: 1200px;
  width: 100%;
  padding-top: 20px;

  font-family: 'Sen', sans-serif;
  }

.mellanrum{
  height: auto;
  width: 100%;
  }

#sortiment{
  padding:40px;
  }

#hemsidan{
  padding:40px;
  }

#verkstad{
  padding: 40px;
  }
#öppettider{
    padding: 40px;
    }

footer{
  background-color: #fff;
  height: 920px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  }

.wrapper{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  }

body{
  margin: 0 0 0 0;

  background-color: #253050;
  }

  #twitterBild{
    margin-left: 49%;
    padding-top: 15px;
    }

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ezgif-com-webp-to-jpg {
    width: 128px;
    height: 80px;
    background-position: -5px -5px;
}

.sprite-facebooksprite {
    width: 35px;
    height: 36px;
    background-position: -143px -5px;
}

.sprite-webbskog {
    width: 35px;
    height: 22px;
    background-position: -143px -51px;
}


#slider{
  height: 200px;
  width: 200px;
  margin-left: 42%;
  margin-top: 20px;
  }

  iframe{

  width: 99%;
  height: 300px;


  }

#imgs{
  height: 200px;
  width: 609px;
  position: relative;
  }

button{
  display: none;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  margin-left: 47%;
  font-family: 'Sen', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #e09d1b;

  }

button:hover {
  background-color: #253050;
  color: #e09d1b;
}

#hideMenu{
  display: flex;
  }

#omoss{
  font-family: 'Sen', sans-serif;
  }

h1{
  font-family: 'Sen', sans-serif;
  }

@media only screen and (max-width: 1000px) {

  .wrapper{
   width: 100%;
  }

  header{
    height: 300px;
  }
}

@media only screen and (max-width: 1100px) {


  header{
    height: 350px;
  }
}

@media only screen and (max-width: 870px) {


  #hideMenu{
  display:none;
  }
  header{
    height: 277px;
  }
}

@media only screen and (max-width: 800px) {


  footer{

    height: 950px;

  }
  header{
    height: 300px;
  }

}

@media only screen and (max-width: 700px) {

  main{
   height: 1800px ;
  }
  header{
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  main{
   height: 1850px ;
  }

footer{
  height: 1000px;
}

header{
  height: 200px;
}

}

@media only screen and (max-width: 550px) {
  main{
   height: 2000px ;
  }

  footer{
    height: 1000px;
}

header{
  height: 170px;
}
  }

@media only screen and (max-width: 530px) {
  main{
   height: 2400px ;
  }

footer{
  height: 1000px;
     }

     header{
       height: 158px;
     }
  }
