.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper{
  padding-top: 60px;
}

#navbar{
  overflow: hidden;
}

.strecknav{
  width: 100%;
  height: 4px;
  background-color: #e09d1b;
}

.streck{
  width: 100%;
  height: 4px;
  background-color: #e09d1b;
}

.streck2{
  width: 100%;
  height: 2px;
  background-color: #e09d1b;
}

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: #e09d1b;
  width: 100%;
  height: auto;
  max-height: 612px;
}

.bildresponsive{
  width: 100%;
  max-height: 612px;
  height: auto;
}

nav{
  background-color: white;
  width: 100%;
  height: 90px;
  font-size: 28px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
}

#sortimentButton{
  display: none;
}

#verkstadButton{
  display: none;
}
#oppettiderButton{
  display: none;
}

#kontaktButton{
  display: none;
}

#omossButton{
  display: none;
}

.bild{
  margin-left: 300px;
}

.lankar{
  margin-left: 4%;
  display: flex;
  margin-top: 20px;
  color: #fff;
}

a{
  color:black;
  text-decoration: none;
}

.yellowLink {
  color: blue;
}

.yellowLink:hover {
  color: #e09d1b;
}

main{
  background-color: white;
  height: 1700px;
  width: 100%;
  padding-top: 20px;
  font-family: 'Sen', sans-serif;
}

.mellanrum{
  height: auto;
  width: 100%;
}

#sortiment{
  padding:40px;
}

#ladorsortiment {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.ladorinnehall{
  width: 250px;
  height: 410px;
  margin: 10px;
  margin-left: 30px;
  padding-top: 0px;
  text-align: center;
  background-color: white;
  border: 2px solid #e09d1b;
  font-family: 'Sen', sans-serif;
}

#stihlbild{
  margin-top: 19px;
}

#husqvarnabild{
  margin-top: 18px;
}
#yamahabild{
  margin-top: 39px;
}

#hemsidan{
  padding:40px;
}

#verkstad{
  padding: 40px;
}
#oppettider{
  padding: 40px;
}
#kontakt{
  padding: 40px;
}

footer{
  background-color: #fff;
  height: 1150px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

body{
  margin: 0 0 0 0;
  background-color: #253050;
}

#twitterBild{
  margin-left: 49%;
  padding-top: 15px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-ezgif-com-webp-to-jpg {
  width: 128px;
  height: 80px;
  background-position: -5px -5px;
}

.sprite-facebooksprite {
  width: 35px;
  height: 36px;
  background-position: -143px -5px;
}

.sprite-webbskog {
  width: 35px;
  height: 22px;
  background-position: -143px -51px;
}

#slider{
  height: 300px;
  width: 300px;
  margin-left: 40%;
  margin-top: 20px;

}

iframe{
  width: 99%;
  height: 400px;
}

#imgs{
  height: 300px;
  width: 909px;
  position: relative;
}

button{
  display: none;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  margin-left: 47%;
  font-family: 'Sen', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #e09d1b;
}

button:hover {
  background-color: #253050;
  color: #e09d1b;
}

#hideMenu{
  display: flex;
}

#omoss{
  font-family: 'Sen', sans-serif;
  padding: 5px;
}

h1{
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 1920px) {
  #slider{
    margin-left: 41%;
  }
  .bild{
    margin-left: 290px;
  }
}

@media only screen and (max-width: 1650px) {
  #slider{
    margin-left: 40%;
  }
  .bild{
    margin-left: 170px;
  }
  .strecknav{
    display: none;
  }
}

@media only screen and (max-width: 1525px) {
  .bild{
    margin-left: 110px;
  }
}

@media only screen and (max-width: 1400px) {
  #slider{
    margin-left: 39%;
  }
  .bild{
    margin-left: 55px;
  }
}

@media only screen and (max-width: 1270px) {
  .bild{
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1263px) {

}


@media only screen and (max-width: 700px) {
  #hideMenu{
    display:none;
  }
}
