
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper{
  padding-top: 60px;
}

#navbar{
  overflow: hidden;
}

.streck{
  width: 100%;
  height: 5px;
  background-color: #e09d1b;
}

.streck2{
  width: 100%;
  height: 2px;
  background-color: #e09d1b;
}

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: white;
  width: 100%;
  height: 412px;
}

.bildresponsive{
  width: 100%;
  max-height: 412px;
  height: auto;

}

nav{
  background-color: white;
  width: 100%;
  height: 90px;

  font-size: 28px;
  padding-top: 20px;
  display: flex;
  font-family: 'Sen', sans-serif;
}

#sortimentButton{
  display: none;
}

#verkstadButton{
  display: none;
}
#oppettiderButton{
  display: none;
}

#kontaktButton{
  display: none;
}


#omossButton{
  display: none;
}


.bild{
  margin-left: 20px;
}

.lankar{
  margin-left: 50px;
  display: flex;
  margin-top: 20px;
  color: #fff;
}

a{
  color:black;
  text-decoration: none;
}

.yellowLink {
  color: blue;
}

.yellowLink:hover {
  color: #e09d1b;
}

main{
  background-color: white;
  height: 1700px;
  width: 100%;
  padding-top: 20px;
  font-family: 'Sen', sans-serif;
}

.mellanrum{
  height: auto;
  width: 100%;
}

#sortiment{
  padding:40px;
}

#ladorsortiment {

  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}

.ladorinnehall{
  width: 250px;
  height: 410px;
  margin: 10px;
  margin-left: 30px;
  padding-top: 0px;
  text-align: center;
  background-color: white;
  border: 2px solid #e09d1b;
  font-family: 'Sen', sans-serif;
}

#stihlbild{
  margin-top: 19px;
}

#husqvarnabild{
  margin-top: 18px;
}
#yamahabild{
  margin-top: 39px;
}

#hemsidan{
  padding:40px;
}

#verkstad{
  padding: 40px;
}
#oppettider{
  padding: 40px;
}
#kontakt{
  padding: 40px;
}

footer{
  background-color: #fff;
  height: 1150px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

body{
  margin: 0 0 0 0;

  background-color: #253050;
}

#twitterBild{
  margin-left: 49%;
  padding-top: 15px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-ezgif-com-webp-to-jpg {
  width: 128px;
  height: 80px;
  background-position: -5px -5px;
}

.sprite-facebooksprite {
  width: 35px;
  height: 36px;
  background-position: -143px -5px;
}

.sprite-webbskog {
  width: 35px;
  height: 22px;
  background-position: -143px -51px;
}

#slider{
  height: 300px;
  width: 300px;
  margin-left: 40%;
  margin-top: 20px;

}

iframe{

  width: 99%;
  height: 400px;
}

#imgs{
  height: 300px;
  width: 909px;
  position: relative;
}

button{
  display: none;
  margin-top: 10px;
  width: 80px;
  height: 40px;
  margin-left: 47%;
  font-family: 'Sen', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #e09d1b;
}

button:hover {
  background-color: #253050;
  color: #e09d1b;
}

#hideMenu{
  display: flex;
}

#omoss{
  font-family: 'Sen', sans-serif;
  padding: 5px;
}

h1{
  font-family: 'Sen', sans-serif;
}

@media only screen and (max-width: 1920px) {
  #slider{
    margin-left: 41%;
  }
}

@media only screen and (max-width: 1650px) {
  #slider{
    margin-left: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  #slider{
    margin-left: 39%;
  }
}

@media only screen and (max-width: 1270px) {
  .bildresponsive{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1220px) {
  #slider{
    margin-left: 38%;
  }
}

@media only screen and (max-width: 1100px) {
  header{
    height: 350px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper{
    width: 100%;
  }
  header{
    height: 333px;
  }
#slider{
  margin-left: 37%;
}
}

@media only screen and (max-width: 980px) {
  header{
    height: 320px;
  }
  main{
    height: 2130px;
  }
}

@media only screen and (max-width: 930px) {
  header{
    height: 300px;
  }
  #slider{
    margin-left: 36%;
  }
  #hideMenu{
    display:none;
  }
}

@media only screen and (max-width: 870px) {
  header{
    height: 287px;
  }
  #slider{
    margin-left: 35%;
  }
}

@media only screen and (max-width: 800px) {
  footer{
    height: 1180px;
  }
  main{
    height: 2250px;
  }
  #slider{
    margin-left: 34%;
  }
  header{
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  main{
    height: 2600px;
  }
  #slider{
    margin-left: 33%;
  }
}

@media only screen and (max-width: 600px) {
  footer{
    height: 1250px;
  }
  main{
    height: 2690px;
  }
  #slider{
    margin-left: 26%;
  }
  button{
    margin-left: 43%;
  }
}

@media only screen and (max-width: 540px) {
  footer{
    height: 1250px;
  }
  #slider{
    margin-left: 23%;
  }
    main{
      height: 2800px;
    }
}

@media only screen and (max-width: 490px) {
  footer{
    height: 1300px;
  }
  #slider{
    margin-left: 21%;
  }
  button{
    margin-left: 43%;
  }
}

@media only screen and (max-width: 430px) {
  #slider{
    margin-left: 15%;
  }
  button{
    margin-left: 40%;
  }
}

@media only screen and (max-width: 370px) {
  main{
    height: 2950px;
  }
  #slider{
    margin-left: 10%;
  }
  .ladorinnehall{
    margin-left: 5%;
  }
  footer{
   height: 1350px;
  }
}
@media only screen and (max-width: 320px) {

  #slider{
    margin-left:10px;
  }
  .ladorinnehall{
    margin-left: 1px;
  }
}
